/* Adjust the calendar's container */
.App {
  font-family: Arial, sans-serif;
  padding: 40px;
  max-height: 800px; /* 예시: 원하는 최대 높이 */
  max-width: 85%;
  margin: 0 auto;
}

/* Style the calendar */
.fc {
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the calendar header */
.fc-header-toolbar {
  margin-bottom: 10px;
}

/* Style the calendar buttons */
.fc-button {
  background-color: #3498db;
  color: white;
  border: none;
  margin: 0 2px;
  cursor: pointer;
}

.fc-button:hover {
  background-color: #0056b3;
}

/* Style the calendar event */
.fc-event {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
}

.fc-event:hover {
  background-color: #218838;
}

/* Style the calendar event text */
.fc-event-title {
  font-size: 14px;
}

/* Style the calendar event border */
.fc-event-inner {
  border: none;
}

/* Style day links */
.fc-day a {
  color: black;
}

/* Style Saturday links */
.fc-day-sat a {
  color: blue;
}

/* Style Sunday links */
.fc-day-sun a {
  color: red;
}


.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.fc fc-media-screen fc-direction-ltr fc-theme-standard {
  border: 100px;
}

.fc-toolbar-chunk {
  margin-right : 1.5em;
}