/* Adjust the calendar's container */
.App {
  font-family: Arial, sans-serif;
  padding: 30px;
  margin: 10 auto;
}
.fc-toolbar-chunk {
  margin-right : 1.5em;
}

.fc .fc-toolbar-title {
  font-weight: 800;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  margin-left: 1.5em;
}
/* Style the calendar */
.fc {

  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the calendar header */
.fc-header-toolbar {
  margin-bottom: 10px;
}

/* Style the calendar buttons */
.fc-button {
  background-color: #3498db;
  color: white;
  border: none;
  margin: 0 2px;
  cursor: pointer;
}

.fc-button:hover {
  background-color: #0056b3;
}


/* Style day links */
.fc-day a {
  margin-right:3px;
  color: black;
  text-decoration: none;
  
}

/* Style Saturday links */
.fc-day-sat a {
  margin-right:3px ;
  color: blue;
  text-decoration: none;
}

/* Style Sunday links */
.fc-day-sun a {
  margin-right:3px;
  color: red;
  text-decoration: none;
}

 
.backCal {
  background: linear-gradient(to top, black, rgb(3, 1, 42));
}

.headerCal {
  background: linear-gradient(to top, black, rgb(3, 1, 42) 30%);
  padding: 10px;
}

.headerCal h1 {
  color: white;
  margin-top: inherit;
  margin-bottom: inherit;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}