  .header {
    background: linear-gradient(to top, black, rgb(3, 1, 42) 30%);
    padding: 10px;
    margin-bottom: 0px;
  }
  
  .card {
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 50%;
    justify-content: center;
    background-color: white;
  }


  .card-center{
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 50%;
    justify-content: center;
    background-color: #FBF562;
  }
  
  .card-img-top {
    max-width: 150%;
    height: auto;
    margin-top: 30px;
  }
  
  .card-text {
    font-size: 15px;
    margin-bottom: 30px;
    align-items: center;
  }

  .card-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .temp-container {
    display: flex;
  }

  .center {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* 텍스트 정렬도 추가합니다. */
     
  }

.card-text{
  color: #000000;
}

.vision-main {
  color : white;
  margin-top:10px;
}

.vision-text {
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
}

.vision-highlight {
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;
}